<% layout('baza') %>

    <div class="profile-change">
        <h1 class="text-center" class="profile-change">Пользователь "
            <%= user.login %>"</h1>
        <h4 class="text-center">Дата регистрации:
            <%= date %>
        </h4>
        <div class="regfield">
            <center>

				<h4>Логин:
                    <%= user.login %>
                </h4>
                <input id="but0" type="submit" value="Изменить логин" href="#" onclick="openbox(0); return false;"><br>
                <div id="box0" style="display: none;" class="form-group" action="">
                    <form action="login" method="post" id="login" accept-charset="utf-8">
                        <input id="login" class="form-control"  onblur="validateName('login')" onfocus="focusField('login')" type="text" name="login" placeholder="Введите Ваш новый логин" required>
                        <input type="submit" id="submit" value="Изменить" onClick="UpdateUser('login'); CloseBlock(0, 'login');">
                    </form>
                    <input id="butC1" type="submit" value="Отмена" onClick="CloseBlock(1, 'login')">
                </div>
			
                <h4>Email:
                    <%= user.email %>
                </h4>
                <input id="but1" type="submit" value="Изменить Email" href="#" onclick="openbox(1); return false;"><br>
                <div id="box1" style="display: none;" class="form-group" action="">
                    <form>
                        <input id="email" class="form-control" placeholder="Введите Ваш новый e-mail" required>
                        <input type="submit" value="Изменить" onClick="UpdateUser('email'); CloseBlock(1, 'email');">
                    </form>
                    <input id="butC1" type="submit" value="Отмена" onClick="CloseBlock(1, 'email')">
                </div>

                <h4>Номер телефона:
                    <%= user.number %>
                </h4>
                <input id="but2" type="submit" value="Изменить номер" href="#" onclick="openbox(2); return false"><br>
                <div id="box2" style="display: none;" class="form-group" action="">
                    <form>
                        <input id="number" class="form-control" name="number" placeholder="Введите Ваш новый телефон" pattern="[7-8]{1}[0-9]{10}" required>
                        <input type="submit" value="Изменить" onClick="UpdateUser('number'); CloseBlock(2, 'number')">
                    </form>
                    <input id="butC2" type="submit" value="Отмена" onClick="CloseBlock(2, 'number')">
                </div>

                <h4>Организация:
                    <%= user.org %>
                </h4>
                <input id="but3" type="submit" value="Изменить организацию" href="#" onclick="openbox(3); return false"><br>
                <div id="box3" style="display: none;" class="form-group" action="">
                    <form>
                        <input id="org" class="form-control" placeholder="Введите Вашу новую организацию" pattern="[7-8]{1}[0-9]{10}" required>
                        <input type="submit" value="Изменить" onClick="UpdateUser('org'); CloseBlock(3, 'org')">
                    </form>
                    <input id="butC3" type="submit" value="Отмена" onClick="CloseBlock(3, 'org')">
                </div>

                <input id="but4" type="submit" value="Изменить пароль" href="#" onclick="openbox(4); return false"><br>
                <div id="box4" style="display: none;" class="form-group" action="">
                    <form>
                        <label for="pwd_old">Старый пароль:</label>
                        <input id="pwd_old" class="form-control" onblur="validatePassword('pwd_old')" onfocus="focusField('pwd_old')" type="password" placeholder="Введите старый пароль" required>
                        <label for="password">Новый пароль:</label>
                        <input id="pwd" class="form-control" type="password" onblur="validatePassword('pwd')" onfocus="focusField('pwd')" placeholder="Введите новый пароль" required>
                        <label for="password">Подтверждение нового пароля:</label>
                        <input id="pwd_new" class="form-control" type="password" onblur="validatePasswordC('pwd_new','pwd')" onfocus="focusField('pwd_new')" placeholder="Повторите новый пароль" required>
                        <input type="submit" value="Изменить" onClick="UpdateUser('pwd'); CloseBlock(4, 'pwd')">
                    </form>
                    <input id="butC4" type="submit" value="Отмена" onClick="CloseBlock(4, 'pwd')">
                </div>
            </center>
        </div>
    </div>
    </div>

	    <script>
      $("#login").submit(function(e) {
        var Form = document.forms["login"];
        var login = Form.elements["login"].id;		
                    
		if (validateName(login)) {
            return true;
            }
        return false;
        });
		</script>
			
	
    <script type="text/javascript">
        function openbox(box_num) {
            box_disp = document.getElementById("box" + box_num).style.display;

            document.getElementById("box" + box_num).style.display = 'block';
            document.getElementById('but' + box_num).style.display = 'none';
        }

        function CloseBlock(box_num, inp) {
            box_disp = document.getElementById("box" + box_num).style.display;

            document.getElementById("box" + box_num).style.display = 'none';
            document.getElementById('but' + box_num).style.display = 'block';
            document.getElementById(inp).value = '';
        }

        function UpdateUser(prop) {
            prop_value = document.getElementById(prop).value;

            $.ajax({
                type: "POST",
                url: "/profile",
                data: JSON.stringify({
                    prop: prop,
                    prop_value: prop_value
                }),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    // console.log(data);
                },
            });
        }
    </script>